@media only screen and (max-width: 767px) {


    body {
        /* Remove the overflow property or set it to 'visible' or 'auto' */
        overflow: auto; /* Use 'auto' to allow scrolling if content exceeds the viewport height */
    }

    body.overlay-visible {
        overflow: auto;
    }

    .header {
        margin-top: 30px;
        margin-bottom: 0;
    }

    .tree,
    .gift-box {
        position: static; /* Reset the position to the default static */
        width: 100%; /* Adjusted width for full-width on mobile */
    }

    .grid-container {
        display: flex;
        flex-direction: column;
        /*flex-wrap: nowrap;*/
        gap: 15px;
        max-width: 100%;
        width: 100%;
        padding: 10px; /* Add padding to create space on the sides */
        box-sizing: border-box; /* Include padding and border in the element's total width and height */
        /*overflow-y: auto; !* Allow vertical scrolling if content exceeds the container height *!*/
    }

    .image-container {
        position: relative;
        height: 430px;
        /*height: auto;*/
        overflow: hidden;
        border-radius: 5px;
        cursor: pointer;
        width: calc(100% - 10px);
        margin-bottom: 10px;
    }

    .image-container img {
        object-fit: cover; /* Change to contain to prevent cropping */
        border-radius: 5px;
    }


    .popup {
        width: 90%; /* Adjusted width for better fit on mobile */
        /*height: auto;*/
        height: 80vh; /* Adjusted height for better fit on mobile */
        flex-direction: column;
    }

    .popup img {
        width: 100%; /* Set image width to 100% for full-width on mobile */
        /*height: auto;*/
        max-height: 50%;
    }

    .popup-content {
        width: 100%; /* Set content width to 100% for full-width on mobile */
        padding: 0; /* Adjusted padding for better fit on mobile */
        overflow-y: auto;
    }

    .popup-content h2 {
        font-size: 22px; /* Adjust font size for better fit on mobile */
        margin-bottom: 20px;
    }

    .popup-content p {
        font-size: 10px; /* Adjust font size for better fit on mobile */
    }

    .close-btn {
        font-size: 50px; /* Adjusted font size for better fit on mobile */
        color: #fff;
        top: -50px;
    }
}
