body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; /* Background color for better visibility */
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.image-container {
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.overlay {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: top 0.3s ease-in-out, opacity 0.5s ease-in-out;
}

.button {
    padding: 15px; /* Increased padding for a larger button */
    background: #ff6961; /* Coral color for a festive look */
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    font-family: 'cursive', cursive; /* Different font for a New Year's style */
    font-size: 16px; /* Adjust font size as needed */
}

.button:hover {
    background: #ff6347; /* Darker coral color on hover */
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup {
    display: none;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    position: relative;
    animation: fadeIn 0.5s ease-in-out; /* Fade-in animation */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.close-btn {
    cursor: pointer;
    color: #333;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
}
